.account.screen
{
    position: relative;

    > .account-header
    {
        display: flex;
        align-items: center;

        h2
        {
            flex: 1;
            padding-top: 16px;
        }

        .avatar
        {
            width: 60px;
            height: 60px;
            margin-right: 16px;
        }

        .action-buttons
        {
            flex: 1;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;

        }

    }

    > h3
    {
        margin: 24px 0 16px 0;
    }

    .games
    {
        display: grid;
        margin-top: 16px;
        grid-template-columns: repeat(1, auto);
        column-gap: 24px;
        row-gap: 24px;
    }

    .fab-container
    {
        position: fixed;
        width: 100%;
        max-width: 1200px;
        left: 50%;
        transform: translateX(-50%);
        padding: 12px;
        bottom: 0;
        display: flex;
        align-items: flex-end;
        flex-direction: column;

        > .play-button
        {
            cursor: pointer;
            border-radius: 100%;
            color: var(--secondary-text-color);
            box-shadow: var(--lvl3-elevation-shadow);
            font-size: 50px;
            text-align: center;
            box-sizing: content-box;
            width: 80px;
            height: 80px;
            line-height: 80px;
            color: var(--primary-text-color);
            background-color: var(--lvl3-elevation-background-color);
            transition: background-color 250ms;

            &:hover {
                background-color: var(--divider-color);
            }
        }

    }
}

@media screen and (min-width: 600px)
{
    .account.screen .games {
        grid-template-columns: repeat(2, auto);

        .history_item .hidden-content {
            opacity: 1;
            margin-top: 8px;
            border-color: var(--divider-color);
            padding: 8px 0;
            max-height: 200px;
        }
    }
}

@media screen and (min-width: 900px)
{
    .account.screen .games {
        grid-template-columns: repeat(3, auto);
    }
}