.navigation
{
    display: flex;
    flex-direction: row;
    position: fixed;
    z-index: 9999 !important;
    top: 0;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    right: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    max-width: 1200px;

    .separator {
        flex: 1;
    }

    > *:not(.separator)
    {
        cursor: pointer;
        display: block;
        color: var(--secondary-text-color);
        border-radius: 100%;
        box-sizing: content-box;
        width: 24px;
        height: 24px;
        text-align: center;
        line-height: 24px;
        font-size: 24px;
        transition: background-color 250ms;
        background-color: var(--lvl4-elevation-background-color);

        &:hover {
            background: var(--divider-color);
        }
    }

    .left {margin-right: 8px;}
    .right {margin-left: 8px;}
}
